NODE_ENV=development
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
APPLE_KEY_ID=
APPLE_TEAM_ID=
APPLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----

-----END PRIVATE KEY-----"
APPLE_JWT_TOKEN=
APPLE_USER_TOKEN=
OPENAI_API_KEY=